// Define variables for your color scheme

// For example:
$purple: #8C30F5;
$purplelight: #D6B1FF;
$purpleultralight: #F1E4FF;
$lightblue: #cfe9eb;
$lightgrey: #ece9fd;
$turquoise: #75E3EA;
$black: black;
$light-gray: rgb(228, 227, 227);
$blue: blue;
$green: green;
$yellow: yellow;
$red: red;
$orange: orange;
$white: white;
