<div class="div-avatar">
  <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1534&q=80" alt="" class="avatar-chatbot">
  <i class="fas fa-circle" style="margin-left: -15px; color: #71b132; font-size: 15px;"></i>
  <p class="avatar-name-chatbot">Violette</p>
</div>

<div class="card-chatbot">

  <% if question.photo.attached? %>
    <%= cl_image_tag question.photo.key, crop: :fill, class:"card-picture" %>
  <% end %>

  <div class="card-content-chatbot">
    <p class="info-content-chatbot"><%= question.content %></p>
  </div>
</div>
