<div class="div-avatar">
  <img src="https://thumbs.dreamstime.com/b/expression-faciale-d-une-belle-rousse-riant-%C3%A9motion-f%C3%A9minine-personnage-de-dessin-anim%C3%A9-mignon-illustration-vectorielle-isol%C3%A9e-158969820.jpg" alt="" class="avatar-chatbot">
  <i class="fas fa-circle" style="margin-left: -15px; color: #71b132; font-size: 15px;"></i>
  <p class="avatar-name-chatbot">Violette</p>
</div>

<div class="card-chatbot">

  <% if question.photo.attached? %>
    <%= cl_image_tag question.photo.key, crop: :fill, class:"card-picture" %>
  <% end %>

  <div class="card-content-chatbot">
    <p class="info-content-chatbot"><%= question.content %></p>
  </div>
</div>
