<div class="card-trip-chatbot">

  <% if question.photo.attached? %>
    <%= cl_image_tag question.photo.key, crop: :fill, class:"card-picture-chatbot" %>
  <% end %>

  <div class="card-trip-infos-chatbot">
      <p><%= question.content %></p>
  </div>

</div>
