<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <div class="card" style="border-radius: 5px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      <img class="card-img-top" src="http://www.notaire-lille-foch.fr/wp-content/uploads/2017/03/Etude-notariale-foch-annonces-immobiliere-nord-59-notaire-lille-1170x332.png" alt="Card image cap" style="border-radius: 5px 5px 0 0; height: 180px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"><b>ÉTUDE NOTARIALE FOCH</b></h5>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i>  21 avenue Foch, 59800 LILLE<br><i class="fas fa-phone-volume"></i>  03 20 57 37 83<br><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star-half-alt" style="color: gold;"></i>  4,3/5 <i>(43 avis Google)</i></p>
          <a href="http://www.foch.notaires.fr/" class="btn btn-outline-dark" style="border-radius: 10px; width: 100%;">Voir le site</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="border-radius: 5px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      <img class="card-img-top" src="https://prismeoffice.adnov.fr/media/view/450/300/0/0/ca8288746f6c607c4e450298b7f853137f765a6d.jpg" alt="Card image cap" style="border-radius: 5px 5px 0 0; height: 180px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"><b>Cécile DHAENE-JONVILLE</b></h5>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i>  14 Rue de Puebla, 59800 LILLE<br><i class="fas fa-phone-volume"></i>  03 20 54 29 24<br><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i><i class="far fa-star" style="color: gold;"></i>  4,2/5 <i>(27 avis Google)</i></p>
          <a href="https://cecile-jonville-dhaene-lille.notaires.fr/" class="btn btn-outline-dark" style="border-radius: 10px; width: 100%;">Voir le site</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="border-radius: 5px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      <img class="card-img-top" src="http://www.nlr.notaires.fr/images/diapo1.jpg" alt="Card image cap" style="border-radius: 5px 5px 0 0; height: 180px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"><b>NOTAIRES LILLE ROYALE</b></h5>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i>  74 rue Royale, 59800 LILLE<br><i class="fas fa-phone-volume"></i>  03 20 55 26 41<br><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i><i class="fas fa-star" style="color: gold;"></i>  4,8/5 <i>(97 avis Google)</i></p>
          <a href="http://www.nlr.notaires.fr/" class="btn btn-outline-dark" style="border-radius: 10px; width: 100%;">Voir le site</a>
        </div>
      </div>
    </div>

  </div>
</div>
