<div class="banner-lbn">
  <div class="container">
    <h1>La Bonne Nouvelle ? <br> Vous allez vendre votre bien !</h1>
    <%= link_to "Commencez", new_user_session_path, class: "btn-lbn-home" %>
  </div>
</div>

<div class="container">
  <h2> Comment nous vous <br>simplifions la vente ?</h2>
  <p>La bonne nouvelle, c’est que vous allez vendre votre bien <br> facilement et au meilleur prix.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Accompagnement</h3>
      <p> Nous vous accompagnons tout au long de votre projet de vente. Vous pourrez suivre votre progression et valider chacunes des démarches obligatoires pour réaliser la vente, simplement depuis votre espace dédié.</p>
    </div>

    <div class="col-sm">
      <h3>Chatbot & Conseils pro</h3>
      <p>Notre chatbot Violette, vous accompagne à chaque étape de la vente. Laissez-vous guider par ses conseils, tirés de professionnels.</p>
    </div>

    <div class="col-sm">
      <h3>Estimation de votre bien</h3>
      <p>Estimez votre bien grâce à notre simulateur intelligent et vendez au meilleur prix.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h3>Création de l’annonce</h3>
      <p>La Bonne Nouvelle générera pour vous une annonce pertinente et vous partagera des conseils précieux pour vendre efficacement.</p>    </div>
    <div class="col-sm">
      <h3>Agenda de visites</h3>
      <p>Gérer votre planning de visite facilement depuis votre espace. Renseignez vos disponibilités et le tour est joué.  </p>
    </div>

    <div class="col-sm">
      <h3>Choix des prestataires</h3>
      <p>Notaires, Diagnostiqueurs... Nous vous recommanderons les meilleurs professionnels.</p>
    </div>
  </div>

  <div class="steplist-hp">

    <p class="p-title-hp">Un coup d'oeil sur les étapes à suivre</p>

    <div class="img-card-hp">
      <img src="https://images.unsplash.com/photo-1506784781895-38847b5e50e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1535&q=80", class="img-hp" />

      <div class="cards-steps-hp">

        <div class="card-step-hp-1">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 1 : SE PRÉPARER À LA VENTE</p>
            <p class="p-step-content-hp">Download and install the app from play store or app store. The app will guide you through the configuration process. Live support is available to help you.</p>
            <button id="btn-commencer-hp" type="button" class="btn btn-outline-secondary">Commencer</button>
          </div>
        </div>

        <div class="card-step-hp-2">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 2 : LES QUESTIONS FINANCIÈRES</p>
            <p class="p-step-content-hp">Download and install the app from play store or app store. The app will guide you through the configuration process. Live support is available to help you.</p>
            <button id="btn-commencer-hp" type="button" class="btn btn-outline-secondary">Commencer</button>
          </div>
        </div>

        <div class="card-step-hp-3">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 3 : TROUVER UN ACHETEUR</p>
            <p class="p-step-content-hp">Download and install the app from play store or app store. The app will guide you through the configuration process. Live support is available to help you.</p>
            <button id="btn-commencer-hp" type="button" class="btn btn-outline-secondary">Commencer</button>
          </div>
        </div>

        <div class="card-step-hp-4">
          <div class="card-content-hp">
            <p class="p-step-number-hp">ÉTAPE 4 : FINALISATION DE LA VENTE</p>
            <p class="p-step-content-hp">Download and install the app from play store or app store. The app will guide you through the configuration process. Live support is available to help you.</p>
            <button id="btn-commencer-hp" type="button" class="btn btn-outline-secondary">Commencer</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
