<div class="container">

  <div class="titles-hp">
      <h1 class="h1-hp">Votre Projet</h1>
      <h2 class="h2-hp">- <%= @project.title %> -</h2>
  </div>

  <p class="p-title-hp">Un coup d'oeil sur les étapes à suivre</p>

  <div class="img-card-hp">
    <img src="https://images.unsplash.com/photo-1506784781895-38847b5e50e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1535&q=80", class="img-show" />

    <div class="cards-steps-hp">

      <div class="card-step-hp-1">
        <div class="card-content-hp">
          <p class="p-step-number-hp">ÉTAPE 1 : SE PRÉPARER À LA VENTE</p>
          <p class="p-step-content-hp">Download and install the app from play store or app store. The app will guide you through the configuration process. Live support is available to help you.</p>
          <button id="btn-commencer-hp" type="button" class="btn btn-outline-light">Commencer</button>
        </div>
      </div>

      <div class="card-step-hp-2">
        <div class="card-content-hp">
          <p class="p-step-number-hp">ÉTAPE 2 : LES QUESTIONS FINANCIÈRES</p>
          <p class="p-step-content-hp">Download and install the app from play store or app store. The app will guide you through the configuration process. Live support is available to help you.</p>
          <button id="btn-commencer-hp" type="button" class="btn btn-outline-light">Commencer</button>
        </div>
      </div>

      <div class="card-step-hp-3">
        <div class="card-content-hp">
          <p class="p-step-number-hp">ÉTAPE 3 : TROUVER UN ACHETEUR</p>
          <p class="p-step-content-hp">Download and install the app from play store or app store. The app will guide you through the configuration process. Live support is available to help you.</p>
          <button id="btn-commencer-hp" type="button" class="btn btn-outline-light">Commencer</button>
        </div>
      </div>

      <div class="card-step-hp-4">
        <div class="card-content-hp">
          <p class="p-step-number-hp">ÉTAPE 4 : FINALISATION DE LA VENTE</p>
          <p class="p-step-content-hp">Download and install the app from play store or app store. The app will guide you through the configuration process. Live support is available to help you.</p>
          <button id="btn-commencer-hp" type="button" class="btn btn-outline-secondary">Commencer</button>
        </div>
      </div>

    </div>
  </div>

</div>
