.banner-lbn {
  background-size: cover;
  background-position: center;
  padding: 150px 0 170px;
  background-color: #F2F7FF;
  background-image: url("HP_illu.png");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: bottom -15px right 25px;
}

.banner-lbn h1 {
  color: black;
  font-weight: 800;
  font-size: 55px;
  line-height: 65px;
  margin: 32px 0px;
}

.banner-lbn p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.btn-lbn-home {
  color: white;
  padding: 14px 24px;
  border-radius: 4px;
  background: #8C30F5;
  transition: background 0.3s ease;
  font-size: 18px;
  margin-top: 30px;
}

.btn-lbn-home:hover {
  text-decoration: none;
  color: white;
  background: #9645f1;
}

//features
.banner-lbn-features {

}

.banner-lbn-features h2 {
font-weight: 900;
color: #8C30F5;
}

.banner-lbn-features-img {
  height: 45px;
  margin-bottom: 20px;
}

//CHIFFRES
.banner-lbn-numbers {
display: flex;
flex-direction: row;
align-items: flex-start;

position: static;

flex: none;
order: 6;
flex-grow: 0;
margin: 0px 0px;

margin-bottom: 30px;
padding-left: 150px;
}

.banner-lbn-numbers-h2 {
position: static;
width: 540px;
height: 128px;
left: 0px;
top: 0px;

font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 45px;
padding-left: 50px;

font-feature-settings: 'salt' on, 'liga' off;

color: #18191F;

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}

//AVIS
.banner-lbn-avis {
  position: relative;
  height: 660px;
  left: 0px;
  background: #D5FAFC;
  flex: none;
  order: 5;
  flex-grow: 0;
  margin: 0px 0px;
  background-size: cover;
  background-position: center;
  padding: 111px 0 170px 149px;
  background-image: url("double_quote.png");
  background-repeat: no-repeat;
  background-size: 130px;
  background-position: top 30px left 80px;
}

.banner-lbn-avis h1 {
font-weight: 900;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 445px;
height: 232px;
left: 150px;
}

.box-avis-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: absolute;
    width: 300px;
    height: 290px;
    top: 312px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    left: 160px;

}

.box-avis-2 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;

position: absolute;
width: 445px;
height: 211px;
left: 533px;
top: 403px;

background: #FFFFFF;

box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
border-radius: 8px;
}

.box-avis-3 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;

position: absolute;
width: 350px;
height: 228px;
left: 700px;

background: #FFFFFF;

box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
border-radius: 8px;
}

.banner-lbn-avis-img {
position: static;
width: 16px;
height: 14px;
left: 0px;
top: 0px;

opacity: 0.3;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
}
