
.card-trip-chatbot {
  overflow: scroll;
  height: 100%;
}

.card-trip-chatbot > .card-picture-chatbot {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-chatbot p {
  font-size: 12px;
  margin: 0;
  text-decoration: none;
}

.card-trip-chatbot {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos-chatbot {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
