.div-avatar {
  width: 450px;
  margin-bottom: 10px;
  display: flex;
}

.avatar-chatbot {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #dcc6f5;
}

.avatar-name-chatbot {
  margin-top: 15px;
  margin-left: 15px;
  color: #8C30F5;
  font-weight: bold;
}

.card-chatbot {
  overflow: scroll;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  width: 450px;
  height: fit-content;
  border-radius: 5px;
}

.card-picture {
  object-fit: cover;
  height: 160px;
  width: 450px;
  object-position: center;
}

.card-chatbot > .card-picture {
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.card-content-chatbot {
  margin-top: 15px;
}

.info-content-chatbot {
  text-align: justify;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
