.titles-show {
  height: 200px;
  margin-top: 25px;
  margin-bottom: -25px;
}

.title-show, .subtitle-show {
  text-align: center;
}

.title-show {
  font-size: 70px;
  font-weight: 800;
}

.subtitle-show {
  font-size: 40px;
  font-weight: 600;
  color: #8C30F5;
}

///////////////////////////////PROGRESSION//////////////////////////////////////

.progression-show {
  padding-top: 25px;
}

.h2-progression-show, .h2-recapitulatif-show, .h2-infosaved-show {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}

.h2-progression-show {
  padding-top: 45px;
  margin-bottom: 60px;
}

.stepper-wrapper-show {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item-show {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item-show::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #e8e4e4;
  width: 100%;
  top: 50px;
  left: -50%;
  z-index: 2;
}

.stepper-item-show::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #e8e4e4;
  width: 100%;
  top: 50px;
  left: 50%;
  z-index: 2;
}

.stepper-item-show .step-counter-show {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #e8e4e4;
  margin-bottom: 6px;
}

.step-counter-show, .step-counter-show.completed, .step-counter-show:hover {
  color: white;
  text-decoration: none;
  width: 100px;
  height: 100px;
  font-size: 40px;
  transition: 0.3s;
}

.stepper-item-show.active {
  font-weight: bold;
}

.stepper-item-show.completed .step-counter-show {
  background-color: #8C30F5;
}

.step-counter-show:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.stepper-item-show.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #8C30F5;
  width: 100%;
  top: 50px;
  left: 50%;
  z-index: 3;
}

.stepper-item-show:first-child::before {
  content: none;
}
.stepper-item-show:last-child::after {
  content: none;
}

.step-content-show {
  text-align: center;
  width: 115px;
  font-weight: bold;
  margin-top: 10px;
}

.background-progression {
  position: relative;
}

.background-progression:before {
    content:"";
    background-color: #73678a46;
    position: absolute;
    height: 300px;
    width: 3275px;
    left: -2000px;
    z-index: -1;
}

.div-button-acceder-chatbot-show {
  display: flex;
  justify-content: center;
}

.button-acceder-chatbot-show {
  text-decoration: none;
  border-radius: 10px;
  margin-top: 10px;
  border-color: #8C30F5;
  color: #8C30F5;
  border: 1px solid;
  padding: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.button-acceder-chatbot-show:hover {
  color: #8C30F5;
  transform: scale(1.08);
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

////////////////////////////////CAROUSEL////////////////////////////////////////

#carouselExampleIndicators {
  margin-top: 70px;
}

.carousel-control-prev, .carousel-control-next, .carousel-indicators {
  filter: invert(100%);
}

.carousel-inner {
  background-color: #F1E4FF;
  border-radius: 10px;
}

.d-block {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 0 0 10px;
  margin-left: -15px;
}

.carousel-caption {
  color: black;
  padding-left: 100px;
  margin-left: 90px;
  text-align: justify;
}

//////////////////////////RECAPITULATIF////////////////////////////////////////

.recapitulatif-show {
  margin-top: 60px;
  margin-bottom: -30px;
}

.cards-row1-recapitulatif-show, .cards-row2-recapitulatif-show {
  display: flex;
  justify-content: space-between;
}

.cards-row1-recapitulatif-show {
  margin-bottom: 30px;
}

.card-recapitulatif-show {
  overflow: scroll;
  text-align: center;
  background-color: #fbfafc;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 250px;
  transition: 0.3s;
  border-radius: 5px;
}

.card-recapitulatif-show:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.content-card-recapitulatif-show {
  font-weight: bold;
  font-size: 20px;
  color: #8C30F5;
}

///////////////////////////////INFOSSAVED///////////////////////////////////////

.infosaved-show {
  margin-top: 100px;
  margin-bottom: 50px;
}

.cards-infosaved-show {
  display: flex;
  justify-content: space-between;
}

.card-infosaved-show {
  overflow: scroll;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.3s;
  color: black;
  width: 350px;
  height: 300px;
}

.card-infosaved-show:hover {
  transform: scale(1.04);
}

.card-infosaved-show > .img-card-infosaved-show {
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.card-content-infosaved-show {
  margin-top: 15px;
}

.info-title-infosaved-show {
  text-align: center;
  font-weight: bold;
}

.info-content-infosaved-show {
  text-align: justify;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.h2-infosaved-show {
  padding-top: 45px;
}

.background-infosaved {
  background-color: #ece9fd;
  position: relative;
  height: 500px;
}

// .background-infosaved:before {
//     content:"";
//     position: absolute;
//     width: 3275px;
//     left: -2000px;
//     z-index: -1;
// }
