.steplist-hp {
  margin-top: 45px;
  margin-bottom: 65px;
  padding-left: 75px;
  padding-bottom: 60px;
  padding-right: 75px;
  background-color: #F2F7FF;
}

.p-title-hp {
  font-size: 40px;
  font-weight: 600;
  width: 460px;
  text-align: left;
  padding-top: 65px;
  line-height: normal;
}

.img-hp {
  width: 460px;
}

.img-card-hp {
  display: flex;
  justify-content: space-between;
  height: 850px;
  position: sticky;
  margin-top: -80px;
  margin-left: 95px;
}

.card-step-hp-1:hover, .card-step-hp-2:hover, .card-step-hp-3:hover, .card-step-hp-4:hover {
  //transform: scale(1.04);
  transition: 0.3s;
  background-color: #8C30F5;
  color: white;
}

.card-step-hp-1, .card-step-hp-2, .card-step-hp-3, .card-step-hp-4 {
  background-color: #F1E4FF;
  color: black;
  width: 600px;
  height: 160px;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 0px grey;
  margin-bottom: 0px;
  padding: 65px;
  transition: 0.3s;
}

.p-step-number-hp {
  font-weight: bold;
}

.card-content-hp {
  text-align: justify;
}

.p-step-content-hp {
  font-size: 15px;
}

#btn-commencer-hp {
  border-radius: 5px;
}

.background-hp {
  position: relative;
}

.background-hp:before {
    content:"";
    position: absolute;
    height: 900px;
    left: -2000px;
    z-index: -1;
}
